:root {
    --color-green: #198754;
    --color-red: #dc3545;
}

button:active, button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

.btn {
        border: none;
}

.btn:focus {
    box-shadow: none;
}

.card {
    position: relative;
    border-radius: 5%;
    background-color: whitesmoke;
    aspect-ratio: 1/1;
}

.card-counter {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}

.card-counter > div {
    display: table-cell;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    vertical-align: middle;
    font-size: small;
    font-weight: 700;
    color: white;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.card-img > img {
    max-width: 85%;
    max-height: 100%;
}

.card-price {
    font-weight: 700;
}

.card-btn,
.btn-send {
    /*height: 2.5em;*/
    /*border-radius: 5%;*/
    color: white;
    font-weight: 700;
    font-size: large;
}

/*.card-btn:focus {*/
/*    outline: none;*/
/*    border: none;*/
/*}*/

.btn-plus,
.btn-send {
    background-color: var(--color-green);
}

.btn-minus {
    background-color: var(--color-red);
}

@media screen and (min-width: 576px) {
    .card-img {
        height: 100px;
    }
}

@media screen and (min-width: 768px) {
    .card-img {
        height: 150px;
    }
}

@media screen and (min-width: 992px) {
    .card-img {
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .card-img {
        height: 300px;
    }
}
