<div class="card my-2" id="{{ 'product_{}'.format(product.id) }}">

    <div class="card-counter d-none">
        <div>{{ product.counter }}</div>
    </div>

    <div class="card-img py-3">
        {% if product.picture %}
            <img class=".img-fluid" src="{{ url_for('static', filename=product.picture) }}" alt="{{ product.name }}">
        {% else %}
            <img class=".img-fluid" src="{{ url_for('static', filename='images/not_img.png') }}" alt="Image not found">
        {% endif %}
    </div>

    <div class="text-center">{{ product.name }}</div>
    <div class="text-center "><span class="price">{{ '{:.2f}'.format(product.price) }}</span> $</div>

    <div class="container">
        <div class="row my-2">
            <div class="col-6">
                <button class="btn card-btn btn-danger btn-minus w-100 p-2">-</button>
            </div>
            <div class="col-6">
                <button class="btn card-btn btn-success btn-plus w-100 p-2">+</button>
            </div>
        </div>
    </div>

</div>